@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inter:wght@400;700&family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Inter:wght@400;700&family=Red+Hat+Display:wght@500&display=swap');
:root{
    
/* Primary
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Red Hat Display', sans-serif;

font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Red Hat Display', sans-serif;

*/

--Red: hsl(0, 100%, 68%);

/* Neutral */

--Very-Dark-Blue: hsl(230, 29%, 20%);
--Dark-Grayish-Blue: hsl(230, 11%, 40%);
--Grayish-Blue: hsl(231, 7%, 65%);
--Light-Grayish-Blue: hsl(207, 33%, 95%);
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}

header{
  position: absolute;
  z-index: 1000;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 0% 0% 12%;

}
main{
  height: 100vh;
  width: 100%;
  padding-left: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.responsive{
  position: relative;
  display: none;
}
.responsive img{
  position: absolute;
}
.card-g{
  height: 80%;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  line-height: 4rem;
}

.card-g .Dashboard .new{
  background: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  border-radius: 10px;
  text-transform: none;
  letter-spacing: 0;
  padding: .2rem .7rem .2rem .7rem;
}
.text-bottom{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.card-g h1{
  font-size: 48px;
  text-transform: uppercase;
}
.card-d{
  height: 100%;
  width: 60%;
  background: url(./images/illustration-devices.svg);
  background-repeat: no-repeat;
  background-position: -10% 70%;
  background-size: 130%;
  justify-content: center;
  align-items: center;
}
.text-bottom p, .Dashboard {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: .4rem;
}
.Pro{
  padding:.9rem 0rem 6rem;
  font-size: 18px;
  width: 45%;
  line-height: 20px;
  color: var(--Dark-Grayish-Blue);
}
.card-d::before{
  content: '';
  height: 56%;
  width: 58%;
  border-radius: 0 0 0 5rem;
  z-index: -1;
  background-color: var(--Light-Grayish-Blue);
  position: absolute;
}
.url{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  
}
.url .font{
  margin-top: .4rem;
  height: .5rem;
  width: .5rem;
  background: var(--Grayish-Blue);
  border-radius:100%;
}
.url a {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  
}
.url a:hover {
  text-decoration: underline;  
}
.url .lien {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  font-weight: 700; 
}
.url .txt {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}
button{
  cursor: pointer;
  border-radius: 8px;
  border: none;
  height: 70%;
  width: 25%;
  color: var(--Light-Grayish-Blue);
  background: var(--Red);
  text-transform: uppercase ;
}
.attribution { 
    font-size: 16px; 
    text-align: center; 
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  .attribution a:hover {
    color: var(--Red);
  }
  @media  (max-width: 375px){
    main{
      height: 124vh;
      padding-left: 1.8rem;
    }
    .container{
      height: 58rem;
      width: 100%;
      flex-direction: column-reverse;
    }
    .card-d{
      height: 60%;
      width: 50%;
      background: url(./images/illustration-devices.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25rem;
    }
    .card-d::before{
      content: '';
      height: 50%;
      width: 100%;
      border-radius: 0 0 0 5rem;
      background-color: var(--Light-Grayish-Blue);
      position: absolute;
    }
    .card-g{
      z-index: 2;
      height: 80%;
      width: 100%;
    }
    .text-bottom p, .Dashboard {
      color: var(--Grayish-Blue);
      text-transform: uppercase;
      line-height: 2rem;
      font-size: 15px;
      letter-spacing: 0.1rem;
      width: 87%;
    }
    .text-bottom p{
      font-size: 14px;
    }
    .text-bottom{
      gap: 1rem;
    }
    .card-g h1{
      padding:.9rem 0rem 1rem;
      font-size: 28px;
      line-height: 1;
      text-transform: uppercase;
    }
    .Pro{
      padding:.9rem 0rem 1rem;
      font-size: 18px;
      width: 18rem;
      color: var(--Dark-Grayish-Blue);
    }
    button{
      height: 3rem;
      width: 15rem;
      color: var(--Light-Grayish-Blue);
      background: var(--Red);
      text-transform: uppercase ;
    }
    .url{
      display: none;
    }
    .responsive{
      display: flex;
    }
    .close{
      visibility: hidden;
    }
  }